{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
<h2 class="noticia-cabecera">Sobre este blog</h2>
<div class="noticia-bloque">
	<h3 class="noticia-bajada">✨ ¡Hola a todos! ✨</h3>
	<p class="noticia-cuerpo">
		Tenemos el agrado de compartir con ustedes nuestro blog sobre Inteligencia Artificial. 
		Este proyecto lo hemos desarrollado como parte del curso de Programación Web Etapa 2 en el Informatorio de Resistencia, Chaco. 
		Utilizando Python y Django.
	</p>
	<p class="noticia-cuerpo">
		En este blog, hemos aplicado las técnicas aprendidas durante el cursado sobre Python, como ser modelos, funciones y clases. 
		También hemos trabajado con bases de datos, diseñando y gestionando sistemas de almacenamiento de información. 
		Hemos utilizado Tkinter para desarrollar interfaces gráficas de usuario. 
		Finalmente, hemos integrado todo este conocimiento en el desarrollo de aplicaciones web con Django, creando un blog funcional y dinámico.
	</p>
	<p class="noticia-cuerpo">
		Este blog te mostramos informacion sobre como aprender y explorar la inteligencia artificial, 
		así como una muestra de nuestro crecimiento y aprendizaje en el mundo de la programación. 
		Esperamos que encuentren el contenido útil e interesante.
	</p>
	<br>
	<p class="noticia-bajada" style="text-align: center;">
		📚 Informatorio de Resistencia, Chaco - 📅 Año: 2024
	</p>
	<p class="grupo">Somos el Grupo 11 - comisión 4 - Informatorio 2024</p>
</div>	



{% endblock contenido %}

